DISCORD_TOKEN=
DATA_DIR=./data
COOKIES_FILE=./cookies/cookies.txt
MAX_CONCURRENT_JOBS=5
MIN_FREE_DISK_GB=5
DISCORD_MAX_FILE_SIZE=
DISCORD_UPLOAD_SAFETY_MARGIN=1024
DISCORD_UPLOAD_RETRY_COUNT=3
DISCORD_UI_TIMEZONE=Asia/Taipei
SHUTDOWN_TIMEOUT_SECONDS=30
COMMAND_PREFIX=!
